fastapi
uvicorn
streamlit
langchain
langchain-community
langchain-openai
langchain-huggingface
langchain-experimental
chromadb
python-dotenv
toml
pydantic
pydantic-settings
dashscope
sentence-transformers
unstructured
pypdf
requests
